/* AdminDashboard.css */

body{
  font-family: 'Arial', sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.dashboard {
    display: flex;
  }

/*sidebar*/
  
  .sidebar {
    width: 250px;
    padding: 20px;
    background-color: #333;
    color: white;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
  }

  .sidebar h2 {
    margin-bottom: 20px;
    color: #7adefd;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar ul li {
    margin-bottom: 10px;
  }
  
  .sidebar a {
    text-decoration: non;
    color: white;
    font-weight: bold;
    font-size: 16px;
  }

  .sidebar a:hover{
    color: #7adefd;
  }
 
 /*Content area*/ 
  
  .content {
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  }
  
/*Table*/

  table{
    width: 100%;
    border-collapse: collapse;
  }

  .tableContainer{
    margin-top: 20px;
  }

  th, td{
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  tbody tr:nth-child(even){
    background-color: #f9f9f9;
  }

/*Button*/

  button{
    padding: 10px;
    cursor: pointer;
    border: none;
    outline: none;
  }

  button:hover{
    opacity: 0.8;
  }

  .greenBtn{
    background-color: #4caf50;
    color: white;
  }

  .redBtn{
    background-color: #f44336;
    color: white;
  }

  .addBtn{
    background-color: #2196f3;
    color: white;
  }

  .logoutBtn{
    background: #7adefd;
    border: none;
    cursor: pointer;
    color: white;
  }
  