.password_reset_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form_container{
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.green_btn{
    background-color: #008000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: auto;
    display: block;
}

.infor_msg{
    margin-top: 15px;
    color: #4caf50;
}