.navbar {
	width: 100%;
	height: 70px;
	background-color: #7adefd;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 20px;
}

.navbar h1 {
	color: white;
	font-size: 25px;
	
}

.white_btn {
	border: none;
	outline: none;
	padding: 12px 0;
	background-color: white;
	border-radius: 20px;
	width: 120px;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
}
.voting_btn{
	border: none;
	outline: none;
	padding: 12px 0;
	background-color: rgb(79, 32, 249);
	border-radius: 30px;
	width: 150px;
	font-size: 15px;
	font-weight: bold;
	position: absolute;
	right: 10%;
	top: 50%;
	transform: translateY(-50);
}

.nav_links{
	display: flex;
	margin-left: auto;
	align-items: center;
	
}
.nav_links a{
	text-decoration: none;
	font-weight: bold;
	padding: 10px;
	border-radius: 5px;
	margin-right: 10px;
}

img{
	display: block;
	margin-bottom: 50px;
}

#about img {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 50px;
}

p{
	display: block;
	margin-right: 20px;
	width: 50%;
	position: absolute;
	left: 5%;
	top: 125%;
	margin-bottom: 50px;
}

body{
	margin: 0;
	padding: 0;
}

/* candidate style */
/* form */
.forms {
	max-width: 600px;
	margin: auto;
	padding: 20px;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	margin-right: 20px;
  }
  
  .formGrid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 16px;
  }
  
  .formColumn {
	display: flex;
	flex-direction: column;
  }
  
  label {
	font-weight: bold;
  }
  
  input{
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-top: 5px;
	margin-bottom: 10px;
  }
  
  button {
	grid-column: span 2;
	background-color: #008000;
	color: white;
	padding: 10px 15px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
  }
  
  button:hover {
	background-color: #008000;
  }  

  /* table */
  .tables{
    width: 50%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  th, td{
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  th{
    background-color: #f2f2f2;
  }

  .logOutBtn{
	background-color: rgb(248, 64, 64);
  }